@import url("https://use.typekit.net/zmq3tnj.css");

$global-weight-normal: $font-weight-normal;
$global-weight-bold: $font-weight-bold;
$global-lineheight: 1.5;
$font-size-base: 100%;
$font-size-sm: 80%;
$font-size-lg: 120%;

$input-color: $black;
$input-placeholder-color: $gray-500;
$input-font-family: inherit;
$input-font-size: 1rem;
$input-font-weight: $font-weight-normal;
$input-line-height: $line-height-base;
$input-border: 1px solid $gray-300;
$input-border-focus: 1px solid $gray-700;
$input-shadow: inset 0 1px 2px rgba($black, 0.1);
$input-shadow-focus: 0 0 5px $gray-400;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;

select {
    box-sizing: border-box;
    width: 100%;
 }

.is-visible {
	display: block !important;
}

.is-hidden {
	display: none !important;
}