/// Background color for select menus.
/// @type Color
$select-background: $white !default;

/// Color of the dropdown triangle inside select menus. Set to `transparent` to remove it entirely.
/// @type Color
$select-triangle-color: $gray-700 !default;

/// Default radius for select menus.
/// @type Color
$select-radius: $border-radius !default;

@mixin form-select {
  margin: 0 0 $input-padding-x;
  padding: $input-padding-y $input-padding-x;
  height: 40px;
  appearance: none;
  border: $input-border;
  border-radius: $select-radius;
  background-color: $select-background;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;

  @if $select-triangle-color != transparent {
    @include background-triangle($select-triangle-color);
    background-origin: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: ($input-padding-x * 1.5);
  }

  @if has-value($input-transition) {
    transition: $input-transition;
  }

  // Focus state
  &:focus {
    outline: none;
    border: $input-border-focus;
    background-color: $input-btn-focus-color;
    box-shadow: $input-shadow-focus;

    @if has-value($input-transition) {
      transition: $input-transition;
    }
  }

  &:disabled {
    background-color: $input-disabled-bg;
    cursor: not-allowed;
  }

  &::-ms-expand {
    display: none;
  }

  &[multiple] {
    height: auto;
    background-image: none;
  }
}
